{% extends 'index.html' %} {% load static %} {% block title %}

<title>Dashboard - Mine Monitoring & Safety</title>

{% endblock title %} {% block content %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>

  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card" id="tempCard">
              <div class="card-body">
                <h5 class="card-title">Temperature (&#8451;)</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-thermometer-half"></i>
                  </div>
                  <div class="ps-3">
                    <h6 id="temperature"></h6>
                    <span id="tempText" class="text-light small pt-2 ps-1"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card" id="humCard">
              <div class="card-body">
                <h5 class="card-title">Humidity (&#37;)</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-droplet-half"></i>
                  </div>
                  <div class="ps-3">
                    <h6 id="humidity"></h6>
                    <span id="humText" class="text-light small pt-2 ps-1"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card" id="gasCard">
              <div class="card-body">
                <h5 class="card-title">Gas (ppm)</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-wind"></i>
                  </div>
                  <div class="ps-3">
                    <h6 id="gas"></h6>
                    <span id="gasText" class="text-light small pt-2 ps-1"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="row">
              <!-- Temperature Chart -->
              <div class="col-xxl-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Temperature (&#8451;)</h5>
                    <div id="temperatureChart"></div>
                  </div>
                </div>
              </div>

              <!-- Humidity Chart -->
              <div class="col-xxl-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Humidity (&#37;)</h5>
                    <div id="humidityChart"></div>
                  </div>
                </div>
              </div>

              <!-- Gas (ppm) Chart -->
              <div class="col-xxl-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Gas (ppm)</h5>
                    <div id="gasChart"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Reports -->
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Data Readings</h5>
                <div id="combinedChart"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->

<script>
  $(document).ready(function () {
    $("#temperature").text("Loading...");
    $("#humidity").text("Loading...");
    $("#gas").text("Loading...");

    
    function removeAllAppliedClasses(){
      $("#tempCard").removeClass("bg-danger");
      $("#tempCard").removeClass("bg-info");

      $("#humCard").removeClass("bg-danger");
      $("#humCard").removeClass("bg-info");

      $("#gasCard").removeClass("bg-danger");
      $("#gasCard").removeClass("bg-info");

      $("#tempText").text('');
      $("#humText").text('');
      $("#gasText").text('');

    }


    function getCurrentReadings() {
      $.get('{% url "get_current_readings" %}', function (data) {
        const { temperature, humidity, gas} = data;

        const minTemp = {{threshold_settings.minimum_temperature}};
        const maxTemp = {{threshold_settings.maximum_temperature}};
        const minHum = {{threshold_settings.minimum_humidity}};
        const maxHum = {{threshold_settings.maximum_humidity}};
        const minGasLevel = {{threshold_settings.minimum_gas_level}};
        const maxGasLevel = {{threshold_settings.maximum_gas_level}};

        removeAllAppliedClasses()

        if(temperature > maxTemp){
          $("#tempCard").addClass("bg-danger");
          $("#tempText").text(`Alert: Above ${maxTemp}`);

        }

        if(temperature < minTemp){
          $("#tempCard").addClass("bg-info");
          $("#tempText").text(`Alert: Below ${minTemp}`);
        }

        if(humidity > maxHum){
          $("#humCard").addClass("bg-danger");
          $("#humText").text(`Alert: Above ${maxHum}`);

        }

        if(humidity < minHum){
          $("#humCard").addClass("bg-info");
          $("#humText").text(`Alert: Below ${minHum}`);
        }

        if(gas > maxGasLevel){
          $("#gasCard").addClass("bg-danger");
          $("#gasText").text(`Alert: Above ${maxGasLevel}`);

        }
        if(gas < minGasLevel){
          $("#gasCard").addClass("bg-info");
          $("#gasText").text(`Alert: Below ${minGasLevel}`);
        }

        $("#temperature").text(temperature);
        $("#humidity").text(humidity);
        $("#gas").text(gas);

      });
    }

    var temperatureChart = new ApexCharts(
      document.querySelector("#temperatureChart"),
      {
        series: [],
        noData: {
          text: "Loading...",
        },
        chart: {
          id: "temperatureChart",
          height: 350,
          type: "area",
          toolbar: {
            show: false,
          },
        },
        markers: {
          size: 4,
        },
        colors: ["#4154f1"],
        fill: {
          type: "gradient",
          gradient: {
            shadeIntensity: 1,
            opacityFrom: 0.3,
            opacityTo: 0.4,
            stops: [0, 90, 100],
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: "smooth",
          width: 2,
        },
        xaxis: {
          type: "datetime",
          categories: [],
        },
        tooltip: {
          x: {
            format: "dd/MM/yy HH:mm",
          },
        },
      }
    ).render();

    var humidityChart = new ApexCharts(
      document.querySelector("#humidityChart"),
      {
        series: [],
        noData: {
          text: "Loading...",
        },
        chart: {
          id: "humidityChart",
          height: 350,
          type: "area",
          toolbar: {
            show: false,
          },
        },
        markers: {
          size: 4,
        },
        colors: ["#2eca6a"],
        fill: {
          type: "gradient",
          gradient: {
            shadeIntensity: 1,
            opacityFrom: 0.3,
            opacityTo: 0.4,
            stops: [0, 90, 100],
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: "smooth",
          width: 2,
        },
        xaxis: {
          type: "datetime",
          categories: [],
        },
        tooltip: {
          x: {
            format: "dd/MM/yy HH:mm",
          },
        },
      }
    ).render();

    var gasChart = new ApexCharts(document.querySelector("#gasChart"), {
      series: [],
      noData: {
        text: "Loading...",
      },
      chart: {
        id: "gasChart",
        height: 350,
        type: "area",
        toolbar: {
          show: false,
        },
      },
      markers: {
        size: 4,
      },
      colors: ["#ff771d"],
      fill: {
        type: "gradient",
        gradient: {
          shadeIntensity: 1,
          opacityFrom: 0.3,
          opacityTo: 0.4,
          stops: [0, 90, 100],
        },
      },
      dataLabels: {
        enabled: false,
      },
      stroke: {
        curve: "smooth",
        width: 2,
      },
      xaxis: {
        type: "datetime",
        categories: [],
      },
      tooltip: {
        x: {
          format: "dd/MM/yy HH:mm",
        },
      },
    }).render();

    var combinedChart = new ApexCharts(
      document.querySelector("#combinedChart"),
      {
        series: [],
        noData: {
          text: "Loading...",
        },
        chart: {
          id: "combinedChart",
          height: 350,
          type: "area",
          toolbar: {
            show: false,
          },
        },
        markers: {
          size: 4,
        },
        colors: ["#4154f1", "#2eca6a", "#ff771d"],
        fill: {
          type: "gradient",
          gradient: {
            shadeIntensity: 1,
            opacityFrom: 0.3,
            opacityTo: 0.4,
            stops: [0, 90, 100],
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: "smooth",
          width: 2,
        },
        xaxis: {
          type: "datetime",
          categories: [],
        },
        tooltip: {
          x: {
            format: "dd/MM/yy HH:mm",
          },
        },
      }
    ).render();

    function getChartData() {
      $.get('{% url "line_chart_json" %}', function (data) {
        // Update Temperature Chart
        ApexCharts.exec("temperatureChart", "updateOptions", {
          xaxis: {
            categories: data.labels,
          },
        });

        ApexCharts.exec("temperatureChart", "updateSeries", [
          {
            name: "Temperature (&#8451;)",
            data: data.datasets[0].data,
          },
        ]);
        // Update Humidity Chart
        ApexCharts.exec("humidityChart", "updateOptions", {
          xaxis: {
            categories: data.labels,
          },
        });

        ApexCharts.exec("humidityChart", "updateSeries", [
          {
            name: "Humidity (&#37;)",
            data: data.datasets[1].data,
          },
        ]);

        // Update Gas Chart

        ApexCharts.exec("gasChart", "updateOptions", {
          xaxis: {
            categories: data.labels,
          },
        });

        ApexCharts.exec("gasChart", "updateSeries", [
          {
            name: "Gas (ppm)",
            data: data.datasets[2].data,
          },
        ]);

        // Update Combined Chart
        ApexCharts.exec("combinedChart", "updateOptions", {
          xaxis: {
            categories: data.labels,
          },
        });

        ApexCharts.exec("combinedChart", "updateSeries", [
          {
            name: "Temperature (&#8451;)",
            data: data.datasets[0].data,
          },
          {
            name: "Humidity (&#37;)",
            data: data.datasets[1].data,
          },
          {
            name: "Gas (ppm)",
            data: data.datasets[2].data,
          },
        ]);
      });
    }

    setInterval(getChartData, 5000);
    setInterval(getCurrentReadings, 5000);
  });
</script>

{% endblock content %}
