{% extends 'index.html' %} {% load static %} {% block title %}

<title>Dashboard - Mine Monitoring & Safety</title>

{% endblock title %} {% block content %}

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'dashboard' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <!-- Sales Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Temperature</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-thermometer-half"></i>
                  </div>
                  <div class="ps-3">
                    <h6 id="temperature"></h6>
                    <!-- <span class="text-success small pt-1 fw-bold">12%</span> -->
                    <!-- <span class="text-muted small pt-2 ps-1">increase</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Sales Card -->

          <!-- Revenue Card -->
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card">
              <div class="card-body">
                <h5 class="card-title">Humidity</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-droplet-half"></i>
                  </div>
                  <div class="ps-3">
                    <h6 id="humidity"></h6>
                    <!-- <span class="text-success small pt-1 fw-bold">8%</span> -->
                    <!-- <span class="text-muted small pt-2 ps-1">increase</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Revenue Card -->

          <!-- Customers Card -->
          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card">
              <div class="card-body">
                <h5 class="card-title">Gas</h5>

                <div class="d-flex align-items-center">
                  <div
                    class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                  >
                    <i class="bi bi-wind"></i>
                  </div>
                  <div class="ps-3">
                    <h6 id="gas"></h6>
                    <!-- <span class="text-danger small pt-1 fw-bold">12%</span> -->
                    <!-- <span class="text-muted small pt-2 ps-1">decrease</span> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <script>
            $(document).ready(function () {
              $("#temperature").text("Loading...");
              $("#humidity").text("Loading...");
              $("#gas").text("Loading...");

              function getCurrentReadings() {
                $.get('{% url "get_current_readings" %}', function (data) {
                  $("#temperature").text(data.temperature);
                  $("#humidity").text(data.humidity);
                  $("#gas").text(data.gas);
                });
              }

              setInterval(getCurrentReadings, 5000);
            });
          </script>
          <!-- End Customers Card -->

          <div class="col-lg-12">
            <div class="row">
              <!-- Temperature Chart -->
              <div class="col-xxl-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Temperature</h5>
                    <div id="temperatureChart"></div>
                  </div>
                </div>
              </div>

              <!-- Humidity Chart -->
              <div class="col-xxl-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Humidity</h5>
                    <div id="humidityChart"></div>
                  </div>
                </div>
              </div>

              <!-- Gas Chart -->
              <div class="col-xxl-4 col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Gas</h5>
                    <div id="gasChart"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Reports -->
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Data Readings</h5>
                <div id="combinedChart"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->

<script>
  document.addEventListener("DOMContentLoaded", () => {
    var temperatureChart = new ApexCharts(
      document.querySelector("#temperatureChart"),
      {
        series: [],
        noData: {
          text: "Loading...",
        },
        chart: {
          id: "temperatureChart",
          height: 350,
          type: "area",
          toolbar: {
            show: false,
          },
        },
        markers: {
          size: 4,
        },
        colors: ["#4154f1"],
        fill: {
          type: "gradient",
          gradient: {
            shadeIntensity: 1,
            opacityFrom: 0.3,
            opacityTo: 0.4,
            stops: [0, 90, 100],
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: "smooth",
          width: 2,
        },
        xaxis: {
          type: "datetime",
          categories: [],
        },
        tooltip: {
          x: {
            format: "dd/MM/yy HH:mm",
          },
        },
      }
    ).render();

    var humidityChart = new ApexCharts(
      document.querySelector("#humidityChart"),
      {
        series: [],
        noData: {
          text: "Loading...",
        },
        chart: {
          id: "humidityChart",
          height: 350,
          type: "area",
          toolbar: {
            show: false,
          },
        },
        markers: {
          size: 4,
        },
        colors: ["#2eca6a"],
        fill: {
          type: "gradient",
          gradient: {
            shadeIntensity: 1,
            opacityFrom: 0.3,
            opacityTo: 0.4,
            stops: [0, 90, 100],
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: "smooth",
          width: 2,
        },
        xaxis: {
          type: "datetime",
          categories: [],
        },
        tooltip: {
          x: {
            format: "dd/MM/yy HH:mm",
          },
        },
      }
    ).render();

    var gasChart = new ApexCharts(document.querySelector("#gasChart"), {
      series: [],
      noData: {
        text: "Loading...",
      },
      chart: {
        id: "gasChart",
        height: 350,
        type: "area",
        toolbar: {
          show: false,
        },
      },
      markers: {
        size: 4,
      },
      colors: ["#ff771d"],
      fill: {
        type: "gradient",
        gradient: {
          shadeIntensity: 1,
          opacityFrom: 0.3,
          opacityTo: 0.4,
          stops: [0, 90, 100],
        },
      },
      dataLabels: {
        enabled: false,
      },
      stroke: {
        curve: "smooth",
        width: 2,
      },
      xaxis: {
        type: "datetime",
        categories: [],
      },
      tooltip: {
        x: {
          format: "dd/MM/yy HH:mm",
        },
      },
    }).render();

    var combinedChart = new ApexCharts(
      document.querySelector("#combinedChart"),
      {
        series: [],
        noData: {
          text: "Loading...",
        },
        chart: {
          id: "combinedChart",
          height: 350,
          type: "area",
          toolbar: {
            show: false,
          },
        },
        markers: {
          size: 4,
        },
        colors: ["#4154f1", "#2eca6a", "#ff771d"],
        fill: {
          type: "gradient",
          gradient: {
            shadeIntensity: 1,
            opacityFrom: 0.3,
            opacityTo: 0.4,
            stops: [0, 90, 100],
          },
        },
        dataLabels: {
          enabled: false,
        },
        stroke: {
          curve: "smooth",
          width: 2,
        },
        xaxis: {
          type: "datetime",
          categories: [],
        },
        tooltip: {
          x: {
            format: "dd/MM/yy HH:mm",
          },
        },
      }
    ).render();

    function getChartData() {
      $.get('{% url "line_chart_json" %}', function (data) {
        // Update Temperature Chart
        ApexCharts.exec("temperatureChart", "updateOptions", {
          xaxis: {
            categories: data.labels,
          },
        });

        ApexCharts.exec("temperatureChart", "updateSeries", [
          {
            name: "Temperature",
            data: data.datasets[0].data,
          },
        ]);
        // Update Humidity Chart
        ApexCharts.exec("humidityChart", "updateOptions", {
          xaxis: {
            categories: data.labels,
          },
        });

        ApexCharts.exec("humidityChart", "updateSeries", [
          {
            name: "Humidity",
            data: data.datasets[1].data,
          },
        ]);

        // Update Gas Chart

        ApexCharts.exec("gasChart", "updateOptions", {
          xaxis: {
            categories: data.labels,
          },
        });

        ApexCharts.exec("gasChart", "updateSeries", [
          {
            name: "Gas",
            data: data.datasets[2].data,
          },
        ]);

        // Update Combined Chart
        ApexCharts.exec("combinedChart", "updateOptions", {
          xaxis: {
            categories: data.labels,
          },
        });

        ApexCharts.exec("combinedChart", "updateSeries", [
          {
            name: "Temperature",
            data: data.datasets[0].data,
          },
          {
            name: "Humidity",
            data: data.datasets[1].data,
          },
          {
            name: "Gas",
            data: data.datasets[2].data,
          },
        ]);
      });
    }

    setInterval(getChartData, 5000);
  });
</script>

{% endblock content %}
